h1{
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-weight: bold;
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    background-color: burlywood;
}
body{
    background-color: azure;
}
